.videoContainer video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.videoContainer h1 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 72px;
}

.videoContainer button {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 350px;
    height: 100px;
    transform: translate(-50%, -50%);
    color: #ffffff;
    background-color: #075A46;
    font-size: 24px;
    border-radius: 50px;
    border: white;
    transition-duration: 0.4s;
}

.videoContainer button:active {
    background-color: #053f36;
    box-shadow:  3px #2b2d2f;
}